* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    text-align: center;
}

li.holiday {
    color: red;
}

.buttons .previous {
    margin-right: 40px;
}

.buttons button {
    height: 50px;
    width: 80px;
}

.buttons .previous i {
    margin-right: 10px;
}

.buttons .next i {
    margin-left: 10px;
}